body {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.table {
    background-color: rgb(255, 233, 205);
    border-collapse: collapse;
    margin: 0 auto;
}

.table--header-title {
    border: 1px solid brown;
    border-bottom: double 3px brown;
    padding: 10px 20px;
}

.table--list-parts {
    border: 1px solid brown;
    padding: 10px 20px;
}
